#body {
    width: 99%;           
    height: 1000px;
}

#info {
    border: 5px solid black;
    width: auto;           
    height: auto;          
    display: grid;
    background: #80be7e;
}

#funciones{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#funcion,#derivada,.funcion,.derivada{
    background: #BDC3C7;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

#aqui{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.prueba{
    padding: 2%;
    background-color: #acb9b0;
    border: 1px solid black;
}

#here{
    display: flex;
    justify-content: center;
}