* {
 background-color: #D5DBDB;
 margin: 0;
 padding: 0;
}


#body {
    width: 99%;           
    height: 1000px;
    position: relative;
}

#info {
    border: 5px solid black;
    border-radius: 10%;
    width: 100%;           
    height: 100%;          
    background: #707B7C;        
    position: relative;
}

#funcion {
    position: absolute;
    align-items: center;
    width: auto;
    margin: 5%;
}

#derivada {
    position: absolute;
    align-items: center;
    width: auto;
    margin: 5%;
}

#info >{
    position: absolute;
    align-items: center;
    width: auto;
    padding: 5%;
}

h2 {
    margin: 5%;
    position: absolute;
}

input{
    font-weight: 100%;
    width: 100px;
    height: 50px;
    
}

form{
    position: absolute;
    align-items: center;
    margin: 5%;
    margin-top: 10%;
    align-items: center;
}

#aqui{
    margin: 1%;
    height: 100px;
}

#inicio {
    font-weight: 100px;
    height: 50px;
    width: 200px;
    margin-left: 5%;
}

#accion{
    margin: 10%;
}

.prueba{
    border: 3px solid black;
    margin: 0;
    padding: 0;
    height: auto;
    width: calc(90%/4);
    display: inline-block;
    padding-left: 0.5%;
}